<div class="container">
  <div class="jumbotron">
    <h1>EAT DA BURGERS!</h1>
    <h2>Get a Burger</h2>
    <panel>
      <form class="create-form">
        <div class="form-group">
          <label for="newburger">Got a new Burger?</label>
          <input type="text" id="newburger" name="burger">
          <button type="submit" class="btn btn-primary"  id="addburger">Add it!</button>
        </div>
      </form>
    </panel>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="leftside">Get a Burger we already have!</div>
        <div class="panel-body">
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
              <span>{{this.id}} - {{this.burger_name}}</span>
              <button type="button" class="btn btn-danger eatburger" data-id="{{this.id}}" data-newDevoured="{{devour}}">Eat it!</button>
            </li>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="rightside">Eaten Burgers!</div>
        <div class="panel-body">
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
            <span>{{this.id}} - {{this.burger_name}}</span>
            </li>
            {{/if}}
            {{/each}}
          </ul>

    </div>
  </div>
